opencv-python
jupyter
matplotlib
pandas
numpy
pillow
scipy
tqdm
scikit-learn
scikit-image
seaborn
h5py
ipykernel
bokeh
pickleshare
umap-learn
torch 
torchvision 
torchaudio
pytorch_lightning
transformers 
datasets 